<!-- <img src="<%=blog.image%>" alt="" style="width: 300px;"> -->
<%include partials/header%>
<div class="ui main text container segment">

  <div class="ui huge header"><%=blog.title%></div>
  <div class="ui top attached ">
    <div class="item">
      <img class="ui centered rounded image" src="<%=blog.image%>" alt="" style="">

    </div>
    <div class="p-margin content">
      <span><%=blog.created.toDateString()%></span>

    </div>
  </div>
  <p class="p-margin"><%=blog.body%></p>

  <span>
    <form class="p-margin" action="/blogs" method="POST">
      <a class="ui blue button" href="/blogs/<%=blog._id%>/edit">Edit</a>
      <a class="ui red button" href="/blogs/<%=blog._id%>/delete"
        onclick="return confirm('are you sure you want to delete? ')">Delete</a>
      <a class="ui green button" href="/blogs">Back</a>
    </form>
  </span>
</div>


<%include partials/footer%>